{% extends 'acmin/admin/base/template.html' %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="#!name=/{{ model_name }}">{{ model_verbose_name }}</a></li>
        <li class="active">{{ object }}  {% if is_clone %} (复制){% endif %}</li>
    </ul><!-- /.breadcrumb -->
{% endblock %}

{% block content %}
    <form class="form-horizontal" role="form" method="POST" name="{{ model_name }}Form" id="{{ model_name }}Form">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ object.id }}"/>
        {% block additon-fields-pre %}{% endblock %}
        {% for field in form %}
            {% if channel and field.name == 'channel' %}
                <input type="hidden" name="channel" value="{{ channel.id }}"/>
            {% else %}
                {% if field.help_text %}
                    <div class="form-group" id="form-group-{{ field.name }}-help-text">
                        <label class="col-sm-3 control-label no-padding-right"></label>
                        <div class="col-sm-9 ">
                            <label class="alert-block alert-success">{{ field.help_text }}</label>
                        </div>
                    </div>
                {% endif %}
                <div class="form-group" id="form-group-{{ field.name }}">
                    <label class="col-sm-3 control-label no-padding-right" for="id_{{ field.name }}">
                        {% if field.field.required %}
                            <label style="color:red">*</label>
                        {% endif %}
                        {{ field.label_tag }}
                    </label>
                    <div class="col-sm-9">
                        {{ field }}
                        {% if field.errors %}
                            <span class="help-inline col-xs-12 col-sm-7"><span
                                    class="label label-danger">{{ field.errors }}</span></span>
                        {% endif %}
                    </div>
                </div>
                <div class="space-4"></div>
            {% endif %}
        {% endfor %}
        {% block additon-fields-post %}{% endblock %}
        {% block form-actions %}


        {% endblock %}
    </form>
    {% block form-script %}
        <script language="JavaScript">
            $("[id^='id_']").each(function () {
                $(this).addClass("col-xs-10 col-sm-5");
            });
        </script>
    {% endblock %}
    {% block post-form-script %}{% endblock %}
{% endblock %}

{% block script %}
    <script language="JavaScript">
        window.formAction = "{{ form_action }}";
        showDateTimePicker($(".datepicker"), 'YYYY-MM-DD');
        $('textarea').attr("rows", 3);

        function addChangeEvent(field_group) {
            for (let i in field_group) {
                let fields = field_group[i];
                for (let j = 0; j < fields.length; j++) {
                    let attribute = fields[j].attribute;
                    $("select[name='" + attribute + "']").change(function () {
                        let value = $(this).val();
                        for (let k = j + 1; k < fields.length; k++) {
                            let sub_attribute = fields[k].attribute;
                            let selector = "select[name='" + sub_attribute + "']"
                            let select = $(selector);
                            select.html("");
                            if (k == j + 1) {
                                $.getJSON(window.urlPrefix + '/' + fields[k].class + '/', {
                                    choices: true,
                                    name: attribute.substr(sub_attribute.length + 1),
                                    value: value
                                }, function (data) {
                                    $(data).each(function (i, obj) {
                                        let text = obj["title"];
                                        let option = "<option value='" + obj.id + "'>" + text + "</option>";
                                        console.log(option);
                                        $(selector).append(option);
                                    });
                                });
                            }
                        }

                    });
                }
            }
        }
        {% autoescape off %}
            addChangeEvent({{ field_group }});
        {% endautoescape %}


        {% for r in ancestors %}
            $('#id_{{ r.name }}').change(function () {
                let childSelect = '#id_{{r.child.name}}';
                {% for os in r.offsprings %}
                    clearOptions('#id_{{ os.name }}');
                {% endfor %}
                let value = $(this).val();
                let url = '{{ url_prefix }}/{{ r.child.class_name }}/?format=json&{{ r.name }}=' + value;
                {% for k,v in r.child.filters.items %}
                    url = url + "&" + "{{k}}=" + "{{v}}";
                {% endfor %}
                if (value) $.get(url, function (result) {
                    updateOptions(result, childSelect)
                });
            })

        {% endfor %}
    </script>
{% endblock %}